.container {
  margin: 0 auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
}

.title {
  font-size: 5vh;
}

.img {
  width: 40vh;
  height: 40vh;
}

.content {
  display: flex;
  justify-content: center;
  height: 0%;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bayan {
  width: 80%;
}



/*  BAYAN STUFF  */

.label-wrapper {
  cursor: pointer;
  pointer-events: none;
}

.label-wrapper * {
  pointer-events: auto;
}

.label-wrapper label {
  pointer-events: auto;
}

div#bayan:hover label {
  color: black;
}

.bayan input[type="radio"] {
  display: none;
}

.tag {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 1rem;
  color: rgb(65, 65, 185);
  border-top: 0.2rem solid #e1dada;
  cursor: pointer;
}

.bayan .content {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.bayan input[type="radio"]:checked + label {
  color: black;
}

.bayan input[type="radio"]:checked + label + .content {
  max-height: 100%;
  color: black;
}

.bayan input:hover + label + .content, .content:hover {
  max-height: 100%;
}

i {
  visibility: hidden;
}

div.bayan:hover i {
  visibility: visible;
}

input:checked + label .fa-solid {
  transform: rotate(45deg);
  transition: all 0.5s ease-out;
}

div.label-wrapper:hover .fa-solid {
  transform: rotate(45deg);
  transition: all 0.5s ease-out;
}
